body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
}

.topnav {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.category {
  margin: auto;
  width : 75%;
  background-repeat: no-repeat;
  border: black 2px solid;
  box-shadow: 2px black;
}

.products {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 25px;
  text-align: center;
  font-style: italic;
}

.cart {
  border-bottom: black solid 1px;
}

